.calculator-section {
    font-family: 'Arial', sans-serif;
    margin-right: 0;
    max-width: none;
    border: 3px solid #34c759;
    border-radius: 0 0 20px 20px;
    background-color: #fff;
    min-height: 300px;
    padding: 46px;
    padding-top: 0;
    border-top: none;
}

.country-switcher {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border: 3px solid #34c759;
    border-radius: 20px 20px 0 0;
    border-bottom: none;
    background-color: #fff;
    overflow: hidden;
    width: 614.5px;
}

.country-button {
    flex: 1;
    box-sizing: border-box;
    border: none;
    background: none;
    color: #34c759;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.1s, background-color 0.1s, border 0.1s;
    padding: 10px;
    height: 60px;
}

.country-button.active[data-country="USA"] {
    border-left: none;
}

.country-button.active[data-country="Turkey"] {
    border-left: 3px solid #34c759;
}

.country-button:not(.active)[data-country="USA"] {
    border-left: none;
    border-top: none;
}

.country-button:not(.active)[data-country="Turkey"] {
    border-right: none;
    border-top: none;
}

.country-button:not(.active) {
    border-bottom: 3px solid #34c759;
    border-top: 1px solid #ccc;
    border-left: 3px solid #34c759;
    color: #ccc;
}

.country-button.active, .country-button:hover {
    color: #34c759;
    background-color: #fff;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-group-duty {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.checkbox-group label {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    padding: 10px;
    margin-bottom: 10px; /* Add margin bottom for spacing */
}

.checkbox-group input[type="radio"] {
    display: none;
}

.checkbox-group input[type="radio"]:checked + label {
    background-color: #34c759;
    color: #fff;
    border-color: #34c759;
}

.checkbox-group input[type="radio"]:checked + label::after {
    content: '✔';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 18px;
}

.hidden-checkbox {
    display: none;
}

.checkbox-option {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.styled-checkbox {
    display: block;
    width: 20px;
    height: 20px;
    background: #f7f7f7;
    border: 2px solid #ccc;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}

.styled-checkbox::after {
    content: '';
    display: flex;
    width: 12px;
    height: 12px;
    background: transparent;
    align-items: center;
    justify-content: center;
}

.hidden-checkbox:checked + .styled-checkbox::after {
    content: '✔';
    color: #34c759;
    font-size: 14px;
}

.hidden-checkbox:checked + .styled-checkbox::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 10px;
    height: 10px;
    background-color: #34c759;
    border-radius: 2px;
}

.checkbox-option span {
    margin-left: 5px;
}

.calculate-button {
    width: 100%;
    padding: 15px;
    background-color: #1BA557;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.calculation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.calculate-button,
.calculation-result {
    flex: 1;
    margin-right: 10px;
}

.calculation-result {
    padding-bottom: 4%;
    margin-right: 0;
    white-space: nowrap; /* Prevents text from wrapping */
}

.calculate-button:hover,
.calculate-button:focus {
    animation: pulse-shadow 1s infinite alternate;
}

.calculation-result {
    text-align: center;
    margin-top: 20px;
    color: #34c759;
}

.calculation-result strong {
    font-size: 24px;
    font-weight: bold;
}

.delivery-calc-intro {
    padding: 20px;
    margin-bottom: 20px;
}

.delivery-calc-intro h2 {
    margin-bottom: 10px;
    max-width: 470px;
    font-size: 34px;
    line-height: 42px;
    font-weight: 800;
    font-family: 'Gilroy Semibold';
    color: #2D2D2D;
}

.delivery-calc-intro p {
    color: #666;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #2D2D2D;
    font-family: 'Gilroy Medium';
}

.delivery-calc-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: #fff;
    margin: 40px auto;
    max-width: 1200px;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
}

.delivery-calc-intro,
.calculator-section {
    flex: 1;
    margin-right: 20px;
}
.input-group input[type="text"],
.input-group input[type="number"] {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%; /* Устанавливает ширину на 100% */
    font-size: 18px; /* Увеличивает размер текста */
}
.long-input {
    width: 100%; /* Увеличивает ширину до 80% от контейнера */
}

.input-placeholder-fade::placeholder {
    font-size: 18px; /* Увеличивает размер текста в placeholder */
    color: #999; /* Измените цвет, если необходимо */
}
#item-price,
#item-weight{
    width: 85%;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-group input[type="number"],
.input-group input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 40%;
}
#city,

#weight {
    width: 90%; /* Установите желаемую ширину только для этих полей */
}
#height{
    width: 102%;
}
.input-group input[type="number"]:focus,
.input-group input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #34c759;
}

.dimension-fields {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.dimension-field {
    width: calc(50% - 10px);
    margin-right: 10px;
}

.dimension-field:last-child {
    margin-right: 0;
}

.calculator-section h3 {
    font-weight: 400;
    font-size: 19.0625px;
    padding-top: 5%;
    text-align: center;
    color: #34c759;
    margin: 0;
    padding-bottom: 20px;
}

.custom-select-wrapper {
    position: relative;
    display: block;
    width: fit-content;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 140 140" xmlns="http://www.w3.org/2000/svg"><polygon points="70,90 100,45 40,45" style="fill:%2334c759;"/></svg>') no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px 38px 8px 8px;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

.custom-select:focus {
    outline: none;
    border-bottom-color: #34c759;
}

.custom-select:active, .custom-select:hover, .custom-select:focus {
    border-bottom-color: #34c759;
}

.custom-select-container {
    position: relative;
    padding-top: 24px;
    width: auto;
}

.custom-select-wrapper::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 10px;
}

.custom-select option {
    display: block;
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-row .input-group {
    flex: 1;
    margin-right: 10px;
}

.input-group label {
    margin-bottom: 10px; /* Добавить отступ снизу для лейбла */
}


.input-row .input-group:last-child {
    margin-right: 0;
}

.green {
    color: #1BA557;
}

.input-placeholder-fade::-webkit-input-placeholder {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.input-placeholder-fade::-moz-placeholder {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.input-placeholder-fade:-ms-input-placeholder {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.input-placeholder-fade::-moz-placeholder {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.input-placeholder-fade:focus::-webkit-input-placeholder {
    opacity: 0;
}

.input-placeholder-fade:focus::-moz-placeholder {
    opacity: 0;
}

.input-placeholder-fade:focus:-ms-input-placeholder {
    opacity: 0;
}

.input-placeholder-fade:focus:-moz-placeholder {
    opacity: 0;
}

.duty-calculator-section {
    font-family: 'Arial', sans-serif;
    margin-right: 0;
    max-width: none;
    border: 3px solid #34c759;
    border-radius: 20px;
    background-color: #fff;
    min-height: 300px;
    padding: 46px;
}

th, td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 4px 8px;
}

.delivery-method-label {
    margin-bottom: 10px;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;

    margin-top: 10px; /* Adds space below "Способ доставки:" label */
}

.radio-option {
    display: flex;
    align-items: center;

}

.styled-radio {
    margin-right: 5px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #34c759;
    background-color: rgba(0, 191, 14, 0.4);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.styled-radio:checked {
    background-color: #34c759;
}

.styled-radio:checked::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}